.display{
  border: 1px solid black;
  height: 3em;
  width: 90%;
  margin: 3% auto 0 auto;
}

.frame{
  box-shadow: -10px 10px black;
  border: 1px solid black;
  height: 40em;
  width: 26em;
  margin: auto;
  margin-top: 7%;
  background-color: #fff5eb;
}

.numbers{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 80%;
  margin: 3% auto 0 auto;
  transform: scale(1.1);
}

.numberButton{
  margin: 7%;
  background-color: white;
  box-shadow: -5px 5px black;
  border: 1px solid black;

}

.functions{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

body{
  background-color: #b2b8a3;
}

.alt-button{
  margin: 2%;
  background-color: #deedf0;
  box-shadow: -5px 5px black;
  border: 1px solid black;
}
